/* global variables */
:root {
  --footer-height: 15vh;
}
/* capitalization of the weather description */
.capitalize {
  text-transform: capitalize !important;
}
/* class necessary for always positioning the footer at the bottom */
.body-data {
  position: relative;
  padding-bottom: var(--footer-height);
}
/* footer settings */
.custom-footer {
  font-size: 1em;
  vertical-align: top;
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100vw;
}
